2003BengioNLM/.idea/
2003BengioNLM/.DS_Store
*.pyc
2003BengioNLM/data/news_title_preprocess.txt
2003BengioNLM/data/reddit_worldnews.csv
2003BengioNLM/model/w2v_model_w5_d100
*.ptc
ToySamples/.idea/
!*log
.idea/
2013MikolovWV/data/mikolov_bi_sg_data.npz
